@model List<WiFi.Library.Models.HotSpotReportModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div>
    @await Html.PartialAsync("_SelectLanguagePartial")
</div>
<br />
<br />
<title>@Localizer["SuspiciousHotSpot"]</title>


<div id="jumbo" class=" my-container jumbotron">
    <h3 class="text-center">@Localizer["SuspiciousHotSpot"]</h3>
    <p>  &#8621 @Localizer["WarningBankTransfer"]</p>
    <p> &#8621 @Localizer["WarningAllSuspicious"]</p>
    <p>  &#8621 @Localizer["WarningBankTransferVirus"]</p>
</div>

<div class="my-container container">
    <table class="my-table table text-center">
        <thead>
            <tr>
                <th>
                    Nr
                </th>
                <th>
                    @Localizer["HotSpotLocation"]
                </th>
                <th>
                    @Localizer["MonthlyUsers"]
                </th>
                <th>
                    @Localizer["IncomingIndex"]
                </th>
                <th>
                    @Localizer["OutgoingIndex"]
                </th>

                <th>
                    @Localizer["TotalTransferIndex"]
                </th>
            </tr>
        </thead>
        <tbody>

            @{
                int counter = 1;
            }
            @foreach (var hotSpot in Model)
            {
                <tr>
                    <td class="text-center">
                        @counter
                    </td>
                    <td class="text-left">
                        @hotSpot.LocationName
                    </td>
                    <td class="text-center">
                        @hotSpot.CurrentHotSpotUsers
                    </td>
                    <td class="
                    @if (@hotSpot.SuspiciousByIncomingTransfer)
                    {
                        @Html.Raw("text-danger")
                    }
                    ">
                        @hotSpot.IncomingTransfer.ToString("0.00")
                    </td>
                    <td class="
                    @if (@hotSpot.SuspiciousByOutgoingTransfer)
                    {
                        @Html.Raw("text-danger")
                    }">
                        @hotSpot.OutgoingTransfer.ToString("0.00")
                    </td>
                    <td class="
                    @if (@hotSpot.SuspiciousByTotal)
                    {
                        @Html.Raw("text-danger")
                    }">
                        @((hotSpot.OutgoingTransfer + hotSpot.IncomingTransfer).ToString("0.00"))
                    </td>
                </tr>
                counter++;
            }
            <tr>
                <td colspan="3" class="text-danger text-justify">@Localizer["SuspiciousParameters"]</td>
            </tr>
        </tbody>
    </table>
</div>

