<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["seeWifi"] seeWifi</title>
    <link rel="icon" href="~/Images/StartPageLayout2010/logo.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow mb-3">
            <div class="container">
                
              
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="logo" src="~/Images/StartPageLayout2010/logo.png" alt="Wszystkie"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-center">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HotSpot" asp-action="Index"><img src="~/Images/StartPageLayout2010/allb.png" alt="Wszystkie">@Localizer["All"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HotSpot" asp-action="Favorites"><img src="~/Images/StartPageLayout2010/favourite.png" alt="Ulubione">@Localizer["Favorite"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HotSpot" asp-action="Nearest"><img src="~/Images/StartPageLayout2010/nearestb.png" alt="Najbliższy Hotspot">@Localizer["Nearest"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HotSpot" asp-action="Create"><img src="~/Images/StartPageLayout2010/addb.png" alt="Dodaj Hotspot">@Localizer["Add"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HotSpot" asp-action="Edit"><img src="~/Images/StartPageLayout2010/editb.png" alt="Edytuj Hotspot">@Localizer["Edit"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Reports" asp-action="Index"><img src="~/Images/StartPageLayout2010/raports.png" alt="Raporty">@Localizer["Raports"]</a>
                            <div class="my-dropdown dropdown-menu">
                                <div class="my-dropdown dropdown-item text-dark">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index"><img src="~/Images/StartPageLayout2010/suspectsb.png" alt="Podejrzane Hotspoty">@Localizer["Suspicious"]</a>
                                </div>
                                <div class="my-dropdown dropdown-item text-dark">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="LowestCurrentHotSpotUsers"><img src="~/Images/StartPageLayout2010/currentUsers.png" alt="Najmniejsza liczba użytkowników">@Localizer["LowestCurrentHotSpotUsers"]</a>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="row">
            
            <div class="col-sm-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
