@model System.Collections.Generic.List<WiFi.Library.Models.HotSpotModel>

    @{
    ViewBag.Title = "Ulubione Hotspoty";
    Layout = "_Layout";
    }
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <div id="jumbo" class=" my-container jumbotron">
        <h3 class="text-center">@Localizer["FavoriteList"]</h3>
    </div>
    <div class="my-container container">
        <table id="dataTableFavorites" class="my-table table text-center">
            <thead>
                <tr>
                    <th class="text-left">
                        @Localizer["HotSpotLocation"]
                    </th>
                    <th class="text-center">
                        @Localizer["Latitude"]
                    </th>
                    <th class="text-center">
                        @Localizer["Longitude"]
                    </th>
                    <th  >
                        @Localizer["Remove"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hotSpot in Model)
                {
                <tr>
                    <td class="text-left">
                        @hotSpot.LocationName
                    </td>
                    <td class="text-center">
                        @hotSpot.LatitudeX.Substring(0, 8)
                    <td class="text-center">
                        @hotSpot.LongitudeY.Substring(0, 8)
                    </td>
                    <td>
                        <a asp-controller="HotSpot" asp-action="DeleteFavorite"
                           asp-route-id="@hotSpot.Number"><i class="my-red fas fa-star"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>


    @section Scripts {
    <!-- For the DataTables grid -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- Page-specific script -->
    @*
    <script src="~/js/dataTable.js" asp-append-version="true"></script>*@

    <script>
        var display = "@Localizer["Display"]";
        var nothingFound = "@Localizer["NothingFound"]";
         var page = "@Localizer["Page"]";
        var ofz = "@Localizer["Of"]";
        var next = "@Localizer["Next"]";
        var previous = "@Localizer["Previous"]";
        var search = "@Localizer["Search"]";
        var totalEntries = "@Localizer["TotalEntries"]";



        $(document).ready(function () {
            $('#dataTableFavorites').DataTable({
                "language": {
                    "lengthMenu": display + " _MENU_ ",
                    "zeroRecords": nothingFound,
                    "info": page + " _PAGE_ " + ofz + " _PAGES_ ",
                    "paginate": {
                        "first":"First",
                        "next": next,
                        "previous":previous
                    },

                    "search": search,
                    "infoFiltered":"",
                    "infoEmpty": ""
                },

                "columns": [
                    null,
                    null,
                    null,
                    {"orderable":false}]
            });
        });

    </script>
    }

