@using Microsoft.CodeAnalysis.CSharp
@model Task<List<WiFi.Library.Models.ModelsForDB.ApplicationUserDbModel>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="text-lg-center">Select user you wish to edit</h1>
    <form asp-action="UserDetails">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <select asp-for="@Model.Id" type="number" class="form-control">
            @{
                foreach (var VARIABLE in @Model.Result)
                {
                    <option value="@VARIABLE.Id">
                        Id: @VARIABLE.Id |
                        Login: @VARIABLE.Login |
                        Email: @VARIABLE.Email |
                        Type of Account: @VARIABLE.UserRole
                    </option>
                }
            }
        </select>
        <div class="form-group text-right">
            <input type="submit" value="OK" class="btn btn-primary" />
        </div>
    </form>
</div>

